<div class="desktop-window-container"
     data-ng-class="{'desktop-window-active': window.active, 'desktop-window-maximized': window.maximized}"
     data-ng-style="{'z-index': window.zIndex, 'top': window.top, 'left': window.left, 'right': window.right, 'bottom': window.bottom, 'height': window.height, 'width': window.width, 'min-height': window.minHeight, 'minWidth': window.minWidth}"
     data-ng-mousedown="activate($event)"
     data-ng-hide="window.minimized">
    <div class="desktop-window-header" data-ng-class="{'desktop-window-maximized': window.maximized, 'desktop-window-opacity': !window.active}">
        <div class="desktop-window-navigation">
            <div class="desktop-btn-group desktop-btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="desktop-btn desktop-btn-default" title="Go Back One View - [Alt + Left]" tabindex="-1" data-ng-disabled="disablePrevious" data-ng-click="previousView()">
                    <span class="desktop-icon-arrow-left2 custom-nav-button"></span>
                </button>
                <button type="button" class="desktop-btn desktop-btn-default custom-nav-button" title="Go Forward One View - [Alt + Right]" tabindex="-1" data-ng-disabled="disableNext" data-ng-click="nextView()">
                    <span class="desktop-icon-arrow-right2"></span>
                </button>
            </div>
        </div>
        <div class="desktop-window-title" data-ng-dblclick="maximize()" data-ng-mousedown="windowTitleMouseDown($event)">
            <div class="desktop-click-through">
                <div class="desktop-text">{{window.title}}</div>
            </div>
        </div>
        <div class="desktop-window-action">
            <div class="desktop-btn-group desktop-btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="desktop-btn desktop-btn-default minimize" title="Minimize - [Alt + N]" data-ng-click="minimize()" tabindex="-1">
                    <span class="desktop-icon-minus"></span>
                </button>
                <button type="button" class="desktop-btn desktop-btn-default maximize" data-ng-attr-title="{{ window.maximized ? 'Restore Window' : 'Maximize Window - [Alt + M]' }}" data-ng-click="maximize()" tabindex="-1">
                    <span data-ng-class="{'desktop-icon-expand': !window.maximized, 'desktop-icon-contract': window.maximized}"></span>
                </button>
                <button type="button" class="desktop-btn desktop-btn-default" data-ng-class="{'desktop-window-close-button': window.active}" title="Close Window - [Alt + SHIFT + X]" data-ng-click="close()" tabindex="-1">
                    <span class="desktop-icon-close"></span>
                </button>
            </div>
        </div>
    </div>
    <fieldset data-ng-disabled="!window.active" class="desktop-window-fieldset" data-ng-class="{'desktop-window-opacity': !window.active}">
        <div class="desktop-window-content">
            <div data-ng-repeat="view in window.views">
                <div data-mdi-desktop-view view="view" data-ng-show="view.active"></div>
            </div>
        </div>
    </fieldset>
    <div class="desktop-window-statusbar" data-ng-class="{'desktop-window-maximized': window.maximized, 'desktop-window-opacity': !window.active}">
        <div class="desktop-window-statusbar-container">
            <span class="desktop-icon-info" data-ng-class="{'is-dirty-icn': window.isDirty, 'desktop-display-none': !window.isDirty}"></span>
            <span class="desktop-icon-spam" data-ng-class="{'is-invalid-icn': window.isInvalid, 'desktop-display-none': !window.isInvalid}"></span>
        </div>
    </div>
    <span class="desktop-window-resizable-handle desktop-window-resizable-nw" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="nw"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-ne" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="ne"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-sw" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="sw"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-se" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="se"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-n" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="n"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-s" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="s"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-w" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="w"></span>
    <span class="desktop-window-resizable-handle desktop-window-resizable-e" data-mdi-resizable data-window="window" data-ng-show="!window.maximized" data-direction="e"></span>
</div>