<div class="desktop-window-container" data-ng-class="{'active': window.active}" data-ng-style="{'z-index': window.zIndex}" data-ng-mousedown="activate()">
    <div class="desktop-window-header">
        <div class="desktop-window-navigation">
            <div class="btn-group btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="btn btn-default" title="previous">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default" title="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="desktop-window-title" data-ng-dblclick="maximize()" data-ng-mousedown="setPosition($event)">
            <div class="desktop-window-title-container">
                <div>{{window.windowTitle}}</div>
            </div>
        </div>
        <div class="desktop-window-action">
            <div class="btn-group btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="btn btn-default" title="Minimize">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" class="btn btn-default maximize" title="" data-ng-click="maximize()">
                    <span class="glyphicon" data-ng-class="{'glyphicon-resize-full': !maximized, 'glyphicon-resize-small': maximized}"></span>
                </button>
                <button type="button" class="btn btn-default desktop-window-close-button" data-ng-click="close()" title="Close">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="desktop-window-content">

    </div>
    <div class="desktop-window-statusbar">

    </div>

    <span class="resizable-handle resizable-nw" data-maximized="maximized" data-direction="nw" data-resizable></span>
    <span class="resizable-handle resizable-ne" data-maximized="maximized" data-direction="ne" data-resizable></span>
    <span class="resizable-handle resizable-sw" data-maximized="maximized" data-direction="sw" data-resizable></span>
    <span class="resizable-handle resizable-se" data-maximized="maximized" data-direction="se" data-resizable></span>
    <span class="resizable-handle resizable-n" data-maximized="maximized" data-direction="n" data-resizable></span>
    <span class="resizable-handle resizable-s" data-maximized="maximized" data-direction="s" data-resizable></span>
    <span class="resizable-handle resizable-w" data-maximized="maximized" data-direction="w" data-resizable></span>
    <span class="resizable-handle resizable-e" data-maximized="maximized" data-direction="e" data-resizable></span>
</div>