<div class="desktop-taskbar-container">
    <div class="desktop-taskbar-launch-menu" data-ng-if="options.showLaunchMenu">
        <div class="desktop-taskbar-launch-button">
            <span class="desktop-icon-windows8"></span>
        </div>
    </div>
    <div class="desktop-taskbar-list" data-ng-class="{'desktop-taskbar-list-offset': options.showLaunchMenu}">
        <ul>
            <li class="am-fade-and-scale desktop-text"
                data-ng-repeat="window in windows"
                data-ng-click="updateWindowState(window)">
                <div class="desktop-relative" data-ng-class="{'desktop-active-taskbar-list-item': window.active, 'desktop-taskbar-list-item-recover': window.outOfBounds}">
                    <div class="desktop-taskbar-list-item-title">
                        <span>{{window.title}}</span>
                    </div>
                    <i class="desktop-icon-close desktop-taskbar-list-item-close" data-ng-click="close($event, window)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="desktop-taskbar-hide">
        <div class="desktop-taskbar-hide-button" data-ng-click="hideShowAll()" data-ng-attr-title="{{ desktopShown ? 'Restore Windows' : 'Hide All Windows' }}">

        </div>
    </div>
</div>