<div class="desktop-wrapper">
    <style>

    </style>

    <div class="desktop-menubar-container" data-ng-style="{'height': options.menubarHeight + 'px'}">
        <div data-mdi-desktop-menubar windows="windows" data-template-url="{{options.menubarTemplateUrl}}" data-ng-if="options.menubarTemplateUrl != undefined"></div>
    </div>

    <div data-mdi-desktop-viewport windows="windows"></div>

    <div data-mdi-desktop-taskbar windows="windows"></div>

    <img class="desktop-viewport-logo" data-ng-src="{{logoUrl}}" data-ng-show="logoUrl" alt="">
</div>