<div class="desktop-window-container">
    <div class="desktop-window-header">
        <div class="desktop-window-navigation">
            <div class="btn-group btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="desktop-window-title">
            <span>{{windowTitle}}</span>
        </div>
        <div class="desktop-window-action">
            <div class="btn-group btn-group-xs desktop-window-navigation-button-group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="desktop-window-content">

    </div>
    <div class="desktop-window-statusbar">

    </div>
</div>