<div class="desktop-viewport-container" data-ng-style="{'top': options.viewportTop + 'px' }" data-ng-mousedown="viewportMouseDown($event)">
    <span class="desktop-viewport-dimensions desktop-text" data-ng-show="displayViewportDimensions">{{dimensions.height}} x {{dimensions.width}}</span>
    <div data-ng-repeat="window in windows" class="am-fade-and-scale">
        <div data-mdi-desktop-window data-index="$index" data-window="window"></div>
    </div>
    <div class="desktop-viewport-left-split-outline" data-ng-show="showLeftOutline"></div>
    <div class="desktop-viewport-right-split-outline" data-ng-show="showRightOutline"></div>
    <img class="desktop-viewport-logo" data-ng-src="{{logoUrl}}" data-ng-show="logoUrl" alt="">
</div>