<style>
    .view-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .view-menubar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 20px;
        background-color: #efefef;
    }

    .view-content {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

    label {
        display:block;
        padding-bottom:5px;
        margin-top:20px;
    }

    #contactform li {
        list-style:none;
        padding-bottom:20px;
    }
</style>


<div class="view-container" data-ng-controller="demoViewController">
    <div class="view-menubar">

    </div>
    <div class="view-content">
        <form action="#" method="post">
            <ul id="contactform">
                <li>
                    <label for="name">Your Name*</label>
                    <span class="fieldbox"><input type="text" name="name" id="name" value=""/></span>
                </li>
                <li>
                    <label for="email">Email*</label>
                    <span class="fieldbox"><input type="text" name="email" id="email" value=""/></span>
                </li>
                <li>
                    <label for="msg">Message</label>
                    <span class="msgbox"><textarea class="area" id="msg" name="msg" rows="8" cols="30"></textarea></span>
                </li>
            </ul>

            <p>required field*</p>
            <input type="submit" value="Send" id="sendbutton" name="sendbutton"/>
        </form>
    </div>
</div>