.desktop-wrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    overflow: hidden;
}

.desktop-menubar-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: #f8f8f8;
}

.desktop-viewport-container {
    position: absolute !important;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 40px;
    background: white;
    overflow: hidden;
}

.desktop-viewport-dimensions {
    position: absolute !important;
    right: 0;
    bottom: 0;
}

.desktop-taskbar-container {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.desktop-window-container {
    position: absolute !important;
    top: 30px;
    left: 30px;
    height: 400px;
    width: 400px;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid #e7e7e7;
    min-height: 200px;
    min-width: 200px;
}

.desktop-window-header {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 27px;
    background: #f8f8f8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e7e7e7;
}

.desktop-window-content {
    position: absolute !important;
    top: 27px;
    left: 0;
    right: 0;
    bottom: 15px;
    background: #ffffff;
}

.desktop-window-statusbar {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background: #f8f8f8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.desktop-window-navigation {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: transparent;
}

.desktop-window-navigation-button-group {
    position: absolute !important;
    top: 2px;
    left: 6px;
}

.desktop-window-title {
     position: absolute !important;
     top: 0;
     left: 60px;
     right: 80px;
     bottom: 0;
     height: 27px;
     background: transparent;
 }

.desktop-window-title > div {
    position: absolute !important;
    top: 3px;
}

.desktop-window-action {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    background: transparent;
}

.desktop-window-action-button-group {
    position: absolute !important;
    top: 2px;
    right: 6px;
}

.desktop-window-close-button {

}

.resizable-nw {
    position: absolute !important;
    overflow: hidden;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    z-index: 103;
    cursor: nw-resize;
    opacity: 0;
}

.resizable-ne {
    position: absolute !important;
    overflow: hidden;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 103;
    cursor: ne-resize;
    opacity: 0;
}

.resizable-sw {
    position: absolute !important;
    overflow: hidden;
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 0;
    z-index: 103;
    cursor: sw-resize;
    opacity: 0;
}

.resizable-se {
    position: absolute !important;
    overflow: hidden;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    z-index: 103;
    cursor: se-resize;
    opacity: 0;
}

.resizable-n {
    position: absolute !important;
    top: 0;
    left: 10px;
    right: 10px;
    overflow: hidden;
    height: 5px;
    top: 0;
    z-index: 102;
    cursor: s-resize;
    opacity: 0;
    margin-top: -5px;
}

.resizable-s {
    position: absolute !important;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow: hidden;
    height: 5px;
    z-index: 102;
    cursor: s-resize;
    opacity: 0;
    margin-bottom: -5px;
}

.resizable-w {
    position: absolute !important;
    top: 10px;
    left: 0;
    bottom: 10px;
    overflow: hidden;
    width: 5px;
    z-index: 102;
    cursor: w-resize;
    opacity: 0;
    margin-left: -5px;
}

.resizable-e {
    position: absolute !important;
    top: 10px;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    width: 5px;
    z-index: 102;
    cursor: e-resize;
    opacity: 0;
    margin-right: -5px;
}

div.resizable-handle {
    display: none !important;
    visibility: hidden !important;
}

.active {
    outline: 0;
    box-shadow: 0 0 10px blue;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important; border-radius: 0;}



















