.desktop-wrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    overflow: hidden;
}

.desktop-menubar-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: #f8f8f8;
}

.desktop-viewport-container {
    position: absolute !important;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 40px;
    background: white;
    overflow: hidden;
}

.desktop-taskbar-container {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.desktop-window-container {
    position: absolute !important;
    top: 30px;
    left: 30px;
    height: 400px;
    width: 400px;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid #e7e7e7;
}

.desktop-window-container:focus {
    outline: 0;
    box-shadow: 0 0 10px blue;
}

.desktop-window-header {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 27px;
    background: #f8f8f8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e7e7e7;
}

.desktop-window-content {
    position: absolute !important;
    top: 27px;
    left: 0;
    right: 0;
    bottom: 15px;
    background: #ffffff;
}

.desktop-window-statusbar {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background: #f8f8f8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.desktop-window-navigation {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: transparent;
}

.desktop-window-navigation-button-group {
    position: absolute !important;
    top: 2px;
    left: 6px;
}

.desktop-window-title {
     position: absolute !important;
     top: 0;
     left: 60px;
     right: 80px;
     bottom: 0;
     height: 27px;
     background: transparent;
     display:table;
 }

.desktop-window-title > span {
    display:table-cell;
    vertical-align:middle;
}

.desktop-window-action {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    background: transparent;
}

.desktop-window-action-button-group {
    position: absolute !important;
    top: 2px;
    right: 6px;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important; border-radius: 0;}


















